DB_LINK="mongo-link-to-connect"

JWT_SECRET="token"

APP_URL_CLIENT=https://material-dashboard-react-node.creative-tim.com
APP_URL_API=https://node-json-api-free.creative-tim.com/login

MAILTRAP_USER=
MAILTRAP_PASSWORD=